In [2]:
import dask.dataframe as dd 
import cudf
import pandas as pd
import glob

In [3]:
import dask_cudf

In [4]:
%time
df = pd.read_csv('../data/Clean_dataframe_unbalanced_all_data_ccharppi_04_september_2019.csv')

CPU times: user 6 µs, sys: 3 µs, total: 9 µs
Wall time: 16.7 µs

In [5]:
%time
gdf = cudf.read_csv('../data/Clean_dataframe_unbalanced_all_data_ccharppi_04_september_2019.csv')

CPU times: user 9 µs, sys: 3 µs, total: 12 µs
Wall time: 18.1 µs

In [6]:
%time
ddf = dd.read_csv('../data/Clean_dataframe_unbalanced_all_data_ccharppi_04_september_2019.csv')

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 11 µs

In [7]:
%time 
# pass the cudf dataframe to dask_cudf
dgdf = dask_cudf.from_cudf(gdf, npartitions=4)

CPU times: user 0 ns, sys: 8 µs, total: 8 µs
Wall time: 15.5 µs

In [18]:
%time
# pass the dask dataframe to dask_cudf
ddgdf = dask_cudf.from_dask_dataframe(ddf)

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 12.9 µs

In [19]:
ddgdf.head()

,Unnamed: 0,PA,PAr,PAl,CA,CAr,CAl,CP,PP,CC,...,AA_sqrt,PP_sqrt,CC_sqrt,PAr_sqrt,PAl_sqrt,CAr_sqrt,CAl_sqrt,AlAl_sqrt,ArAr_sqrt,AlAr_sqrt
0,F_1A2K_10000_I.pdb,1,1,5,4,5,3,7,2,7,...,0.000000,1.414214,2.645751,1.000000,2.236068,2.236068,1.732051,0.00000,1.0,1.732051
1,F_1A2K_1004_I.pdb,12,3,13,4,5,1,11,3,8,...,1.000000,1.732051,2.828427,1.732051,3.605551,2.236068,1.000000,1.00000,0.0,0.000000
2,F_1A2K_1009_I.pdb,4,0,5,6,15,2,5,2,2,...,1.414214,1.414214,1.414214,0.000000,2.236068,3.872983,1.414214,1.00000,0.0,1.414214
3,F_1A2K_1018_I.pdb,5,0,1,6,4,3,5,0,7,...,1.732051,0.000000,2.645751,0.000000,1.000000,2.000000,1.732051,2.44949,0.0,0.000000
4,F_1A2K_1019_I.pdb,8,2,2,4,9,3,21,14,5,...,0.000000,3.741657,2.236068,1.414214,1.414214,3.000000,1.732051,0.00000,0.0,1.414214

In [27]:
%time
ddgdf.groupby('ArAr_sqrt').count().compute()

CPU times: user 8 µs, sys: 1e+03 ns, total: 9 µs
Wall time: 20.5 µs

,Unnamed: 0,PA,PAr,PAl,CA,CAr,CAl,CP,PP,CC,...,CP_sqrt,AA_sqrt,PP_sqrt,CC_sqrt,PAr_sqrt,PAl_sqrt,CAr_sqrt,CAl_sqrt,AlAl_sqrt,AlAr_sqrt
ArAr_sqrt,,,,,,,,,,,,,,,,,,,,,
2.828427,1830,1830,1830,1830,1830,1830,1830,1830,1830,1830,...,1830,1830,1830,1830,1830,1830,1830,1830,1830,1830
3.605551,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
3.464102,48,48,48,48,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
1.732051,36059,36059,36059,36059,36059,36059,36059,36059,36059,36059,...,36059,36059,36059,36059,36059,36059,36059,36059,36059,36059
4.123106,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3.872983,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3.741657,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
2.449490,6633,6633,6633,6633,6633,6633,6633,6633,6633,6633,...,6633,6633,6633,6633,6633,6633,6633,6633,6633,6633
4.000000,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
3.162278,357,357,357,357,357,357,357,357,357,357,...,357,357,357,357,357,357,357,357,357,357
0.000000,382174,382174,382174,382174,382174,382174,382174,382174,382174,382174,...,382174,382174,382174,382174,382174,382174,382174,382174,382174,382174
3.000000,825,825,825,825,825,825,825,825,825,825,...,825,825,825,825,825,825,825,825,825,825
2.645751,3572,3572,3572,3572,3572,3572,3572,3572,3572,3572,...,3572,3572,3572,3572,3572,3572,3572,3572,3572,3572
2.000000,21065,21065,21065,21065,21065,21065,21065,21065,21065,21065,...,21065,21065,21065,21065,21065,21065,21065,21065,21065,21065
2.236068,11838,11838,11838,11838,11838,11838,11838,11838,11838,11838,...,11838,11838,11838,11838,11838,11838,11838,11838,11838,11838
3.316625,110,110,110,110,110,110,110,110,110,110,...,110,110,110,110,110,110,110,110,110,110
1.414214,61530,61530,61530,61530,61530,61530,61530,61530,61530,61530,...,61530,61530,61530,61530,61530,61530,61530,61530,61530,61530
1.000000,105897,105897,105897,105897,105897,105897,105897,105897,105897,105897,...,105897,105897,105897,105897,105897,105897,105897,105897,105897,105897

In [26]:
%time 
ddgdf[['ArAr_sqrt','Unnamed: 0']].groupby('ArAr_sqrt').count().sort_values(ascending=False,by='Unnamed: 0').compute()

CPU times: user 7 µs, sys: 2 µs, total: 9 µs
Wall time: 15.5 µs

           Unnamed: 0
ArAr_sqrt
0.000000       382174
1.000000       105897
1.414214        61530
1.732051        36059
2.000000        21065
2.236068        11838
2.449490         6633
2.645751         3572
2.828427         1830
3.000000          825
3.162278          357
3.316625          110
3.464102           48
3.605551           14
3.741657            6
3.872983            3
4.000000            3
4.123106            1